# ==========================================
# VIVADO (XILINX)
# ==========================================
*.jou
*.log
*.pb
*.wdb
*.str
*.os
.Xil/
.hbs/
hd_visual/
*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.ioplanning/

# ==========================================
# MODELSIM / QUESTASIM
# ==========================================
transcript
*.wlf
work/
covhtmlreport/
vsim.wlf

# ==========================================
# OS
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# LATEX
# ==========================================
*.aux
*.bbl
*.blg
*.fls
*.out
*.fdb_latexmk
*.synctex.gz
*.toc
*.lof
*.lot
*.idx
*.ind
*.ilg